/* Empty. Add your own CSS if you like */

body {
  padding-top: 50px; 
}

.navbar-brand {
  text-align: center;
}

.map .footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 10px;
}

.trip {
  background-color: white;
  margin: 20px 0;
  padding: 20px;
}

.trip-content {
  padding: 0.5em 0;
}

.line {
  color: white;
  display: inline-block;
  padding: 2px 5px;
  margin-right: 5px;
}

.line.metro {
  background-color: #f08400;
}

.line.tram {
  background-color: #40bbce;
}

.line.bus {
  background-color: #e60000;
}

.line.boat {
  background-color: #7f3f98;
}

.station {
  font-weight: bold;
}

.map {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  height: auto;
  min-height: 100%;
  background-color: black;
}

.angular-leaflet-map {
  height: auto;
  min-height: 100%;
}

.leaflet-control-container {
  display: none;
}

@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}
