/* Empty. Add your own CSS if you like */

body {
  padding-top: 50px; 
}

.navbar-brand {
  text-align: center;
}

.navbar i {
  font-size: 130%;
}

.map .footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 10px;
}

.alert {
  margin: 20px 0;
  text-align: center;
}

.alert > i {
  font-size: 200%;
  margin-bottom: 10px;
}

.alert span {  
  display: block;
}

.trip {
  background-color: white;
  margin: 20px 0;
  padding: 20px;
}

.trip button {
  margin-top: 20px;
}

.trip-header h4 {
  margin-bottom: 20px;
}

.trip-line-info {
  margin-top: 20px;
}

.line {
  color: white;
  display: inline-block;
  padding: 2px 5px;
  margin-right: 5px;
}

.line.metro {
  background-color: #f08400;
}

.line.tram {
  background-color: #40bbce;
}

.line.bus {
  background-color: #e60000;
}

.line.boat {
  background-color: #7f3f98;
}

.station {
  font-weight: bold;
}

.map {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  background-color: black;
}

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0.5; }
}
@-webkit-keyframes blinker {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}
.map .marker-current-location {
  animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  -webkit-animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
.angular-leaflet-map {
  height: 100%;
}

.leaflet-control-container {
  display: none;
}

.alerts {
  position: fixed;
  width: 100%;
}

@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}
