/* Empty. Add your own CSS if you like */

body {
  padding-top: 70px; 
}

.navbar-brand {
  text-align: center;
}

.trip {
  padding-bottom: 2em;
}

.trip-content {
  padding: 0.5em 0;
}

.line {
  color: white;
  display: inline-block;
  padding: 2px 5px;
  margin-right: 5px;
}

.line.metro {
  background-color: #f08400;
}

.line.tram {
  background-color: #40bbce;
}

.line.bus {
  background-color: #e60000;
}

.line.boat {
  background-color: #7f3f98;
}

.station {
  font-weight: bold;
}

.scroll,
.angular-google-map,
.angular-google-map-container {
  height: 100%;
}

.trip-detail li {
  margin: 10px 0;
}

.trip-detail .item-note {
  float: none;
}

.trip-detail p .item-note {
  float: none;
  margin-left: 5px;
}

@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}
