<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Kollektivradio</title>
    
    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    
    <!-- angular google map -->
    <script src="lib/lodash.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAhODo7kYoy-tc_kG4F8TswHM-AQYusbdg&sensor=true&libraries=geometry"></script>
    <script src="lib/angular-google-maps.js"></script>
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    
    <!-- kollektivradio -->
    <link href="css/style.css" rel="stylesheet">
    <script src="js/app.js"></script>
    <script src="js/controllers/alerts-controller.js"></script>
    <script src="js/controllers/trips-controller.js"></script>
    <script src="js/controllers/trip-detail-controller.js"></script>
    <script src="js/services/audio-service.js"></script>
    <script src="js/services/data-source-service.js"></script>
    <script src="js/services/locator-service.js"></script>
    <script src="js/services/map-util-service.js"></script>
    <script src="js/services/player-service.js"></script>
  </head>
  <body ng-app="radio">
    
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand" href="#">Kollektivradio</span>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        
          <div ng-controller="AlertsCtrl">
            <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}">
              <button ng-click="removeAlert(alert)" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{alert.message}}
            </div>
          </div>

          <div ng-controller="TripsCtrl" ng-show="trips">
            <div ng-repeat="trip in trips" class="trip">
              <div class="trip-header">
                <h4 class="trip-title">{{trip.title}}</h4>
                <p class="trip-subtitle">
                  <span ng-repeat="line in trip.lines" ng-class="lineClass(line)" class="line">
                    {{line.number}}
                  </span>
                  Fra <span class="station">{{trip.startStation}}</span> til <span class="station">{{trip.endStation}}</span>
                </p>
              </div>
              
              <div ng-bind-html="trustHtml(trip.description)" class="trip-content"></div>

              <button type="button" class="btn btn-default btn-block btn-md" ng-click="startTrip(trip)">
                Spill tur
              </button>
              
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
  </body>
</html>
