
  <div ng-if="trip.lines.length == 1">
    <p>På {{trip.startStation}} sette du deg på
      <span class="item-note">
        <span ng-class="{ 'metro': trip.lines[0].number < 10,
                          'tram': trip.lines[0].number >= 10 && trip.lines[0].number < 20,
                          'bus': trip.lines[0].number >= 20 && trip.lines[0].number < 90,
                          'boat': trip.lines[0].number >= 90
                         }">
          {{trip.lines[0].number}}
        </span>
      </span>
      <span class="item-title">mot {{trip.lines[0].endStation}}</span>
    </p>
  </div>

  <button ng-click="startTrip(trip)" class="button button-large button-block button-outline button-positive icon-right">
    Spill av
  </button>

</div>