<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{trip.from}} - {{trip.to}}">
  <ion-content has-header="true" padding="true">
    <div ng-hide="playerStatus.started">
      <div ng-bind-html="trip.description"></div>
      <button ng-click="startTrip(trip)" class="button button-large button-block button-outline button-positive icon-right">
        Spill av
      </button>
    </div>

    <ui-gmap-google-map ng-if="playerStatus.started"
      center="map.center"
      zoom="map.zoom"
      draggable="true"
      dragging="map.dragging"
      bounds="map.bounds"
      events="map.events"
      options="map.options"
      pan="true"
      control="map.control"
    >

    <ui-gmap-marker
      idKey='marker.id'
      coords='marker.coords'
    >
    </ui-gmap-marker>

    </ui-gmap-google-map>

  </ion-content>
</ion-view>
